h1  {
    color: black;
    font-family: Arial, Helvetica;
    text-align: center;
}

h2 {
    colour: black;
    font-family: Arial, Helvetica;
    text-align: center;
}

h3 {
    colour: black;
    font-family: Arial, Helvetica;
    text-align: center;
}

h6 {
    colour: black;
    font-family: Arial, Helvetica;
    text-align: center;
}

a  {
    text-align: center;
}